html{
  min-height: 100%;
}

body {
    
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Quicksand','Courier new' ,'Segoe UI', 'Roboto';
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(159, 218, 223, 0.85)),
    url("./Images/background.jpg");
    /* linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(159, 218, 223, 0.85)),
    url("./Images/background.jpg"); */
};

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hide{
  display: none;
}